page-home {
  .segment-md .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 3.9rem;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    opacity: 0.7;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    padding: 0 6px;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #fff;
    opacity: 1;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}


    .toolbar-md-white .toolbar-background-md {
    background: linear-gradient(to right, #9C27B0 0%, #3F51B5 100%) !important;
}

.grad {
  background: linear-gradient(to right, #9C27B0 0%, #3F51B5 100%) !important;
}

.proad {
  box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.32941176470588235);
}

.scroll-content {
  padding: 0px !important;
}

.bar-buttons,
  .toolbar-title {
    color: #fff !important;
  }

}
